[*.{kt,kts}]
# Oh, the irony.  IntelliJ insists on sorting java* imports last
disabled_rules=import-ordering
end_of_line = lf
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ktlint_code_style = official
max_line_length = 80
